<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline' 'unsafe-eval'  https://*.crewtimer.com wss://*.firebaseio.com https://*.firebaseapp.com https://*.firebaseio.com; connect-src 'self' https://*.firebaseapp.com https://*.crewtimer.com wss://*.firebaseio.com https://*.firebaseio.com;"
    />
    <title>CrewTimer Video Review</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
